body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.orange-color{
    color: orange;
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
}
.top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
.half-width {
    width: 50%;
    padding-left: 2%;
    padding-right: 2%;
}
.half-width img{
    width: 80%;
}
.half-width p{
    text-align: justify;
}
.btn{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    padding: 10px 40px;
    border-radius: 10px;
    font-weight: 700;
}
.dream-big{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}
.experience{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}
.card {
    margin: 0 5%;
    box-shadow: 10px 10px 40px rgb(175, 167, 167);
    border-radius: 10px;
}
#card-1{
    border-left: 5px solid tomato;
}
#card-2{
    border-left: 5px solid rgb(47, 0, 255);
}
.text-center{
    text-align: center;
}